
.product-details{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.product-details-image{
    width: 300px;
}
.product-details-title{
    width: 300px;
}
.product-details-rating{
    display: flex;
    gap: 40px;
}


@media(max-width:480px){
    .product-details{
        display: block;
        margin-left:10%;
        
    }
}
